
#about {
    color: var(--text-color);
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  
  .about h2 {
    font-size: 40px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 50px;
  }
  
  .title {
    font-weight: 800;
    text-align: center;
    font-size: 60px;
    background-clip: text;
    background-image: linear-gradient(to right, #373b44, #4286f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-delay: 50ms;
  }
  
  .title.show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
  }
  
  .title.hidden {
    opacity: 0;
    transform: translateX(-10%);
  }
  

.intro {
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    color: var(--sub-text-color);
  }
  
.intro.show {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s;
  }
  
  .intro.hidden {
    opacity: 0;
    transform: translateX(10%);
  }
  
  
  .about .prompt {
    width: 100%;
    font-size: 30px;
  }
  
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: #ffffff;
  }
  
  .about.show {
    transition: all 5s;
    opacity: 1;
  
  }
  
  .about.hidden {
    opacity: 0;
  }

.rocket {
    padding-top: 30px;
    display: inline-block;
  }
  
  .animateRocket {
    animation: animate-rocket 10s;
  }
  
  @keyframes animate-rocket {
    0% {
      transform: scale(1) rotate(10deg) 0%;
    }
  
    5% {
      transform: scale(1.25) rotate(-15deg);
    }
  
    10% {
      transform: scale(1.5) rotate(5deg);
    }
  
    15% {
      transform: scale(1.75) rotate(-10deg);
    }
  
    20% {
      transform: scale(2) rotate(0);
    }
  
    100% {
      transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0);
    }
  }