
#skills {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}


.languages-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .icon-container {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
  
  }
  
  .icon-container>p {
    margin: 0px 5px 10px;
    padding: 0px 5px 10px;
  }
  
  img {
    margin: 2px;
    padding: 15px;
  }
  
  .languages.show {
    transition: all 2s;
    opacity: 1;
  }
  
  .languages.hidden {
    opacity: 0;
  }
  
  .icon-container.show {
    animation-name: animateIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: translatex(-8px);
    }
  
    100% {
      opacity: 1;
    }
  }
  
  #cplus.icon-container.show {
    animation-delay: 100ms;
  }
  
  #c.icon-container.show {
    animation-delay: 200ms;
  }
  
  #js.icon-container.show {
    animation-delay: 300ms;
  }
  
  #ts.icon-container.show {
    animation-delay: 400ms;
  }
  
  #python.icon-container.show {
    animation-delay: 600ms;
  }
  
  #java.icon-container.show {
    animation-delay: 800ms;
  }

  #asm.icon-container.show {
    animation-delay: 1000ms;
  }

  #vhdl.icon-container.show {
    animation-delay: 1200ms;
  }

  #React.icon-container.show {
    animation-delay: 100ms;
  }
  
  #Angular.icon-container.show {
    animation-delay: 200ms;
  }
  
  #PostgreSQL.icon-container.show {
    animation-delay: 300ms;
  }
  
  #MongoDB.icon-container.show {
    animation-delay: 400ms;
  }
  
  #Html.icon-container.show {
    animation-delay: 600ms;
  }
  
  #Css.icon-container.show {
    animation-delay: 800ms;
  }

  #NodeJs.icon-container.show {
    animation-delay: 1000ms;
  }

  #ExpressJs.icon-container.show {
    animation-delay: 1200ms;
  }

  #Jest.icon-container.show {
    animation-delay: 1400ms;
  }

  #Nestjs.icon-container.show {
    animation-delay: 1400ms;
  }

  #Rxjs.icon-container.show {
    animation-delay: 1600ms;
  }